{
  title: "Greedy Piggy Chase"
  author: "Studio Neverpants"
  url: "http://dom2d.com/?portfolio=slimeful-greedy-piggy-chase"
  description_en: "All slimes crave coins."
  description_fr: "Tous les slimes veulent des pièces."
  players: "2-4"
  controls: [
    {
      control: "S"
      description: "Move / Mouvement"
    }
    {
      control: "A/B"
      description: "Dash / Foncer"
    }
  ]
}