{
  title: "Volkenessen"
  author: "Les Collégiennes"
  url: "http://wiki.xxiivv.com/025"
  description_en: "Box boxing."
  description_fr: "Boxe de boètes."
  players: "1v1"
  controls: [
    container: [
      {
        control: "SS"
      }
      {
        control: "SS"
      }
    ]
    description: "Each player uses two sticks. Flick them at the same time to attack!\nChaque joueur utilise deux manches. Bougez-les en même temps pour attaquer!"
  ]
}